h1 {
	margin-left: 16px;
	margin-right: 16px;
	text-align: center;
}

#board {
	display: none;
	margin: 1em;
}

#board button {
	padding: 1em 1.5em;
	border-radius: 16px;
	text-align: left;
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#board button .fa-spinner {display: none;}

#board button * {font-size: 1.2em;}

#board button:not(:last-child) {margin-bottom: 1em;}

.suit {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#editor {
	display: block;
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 1em;
	resize: vertical;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	tab-size: 4;
}

.centeredDot {
	margin: 0 auto;
	width: 5px;
	height: 5px;
	background-color: dimgray;
	border-radius: 50%;
}

@media only screen and (prefers-color-scheme: light) {
	.centeredDot {background-color: #979797;}
}