h1 {
	margin-left: 16px;
	margin-right: 16px;
	text-align: center;
}

#board {
	display: none;
	margin: 1em 1em 0;
}

.view button {
	padding: 1em 1.5em;
	border-radius: 16px;
	text-align: left;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1em;
}

.view button .fa-spinner {display: none;}
.view button * {font-size: 1.2em;}

.suit, .nothingMessage {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nothingMessage {
	color: gray;
	text-align: center;
}

#editor {
	display: block;
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 1em;
	resize: vertical;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	tab-size: 4;
}

.centeredDot {
	margin: 0 auto;
	width: 5px;
	height: 5px;
	background-color: dimgray;
	border-radius: 50%;
}

.tileColor-red {color: #e6261f}
.tileColor-orange {color: #eb7532}
.tileColor-yellow {color: #f7d038}
.tileColor-lime {color: #a3e048}
.tileColor-teal {color: #49da9a}
.tileColor-skyblue {color: #34bbe6}
.tileColor-blue {color: #4355db}
.tileColor-purple {color: #d23be7}

@media screen and (min-width: 481px) {
	.view button {width: calc(50% - 0.5em)}
	.view button.even {margin-right: 1em;}
}

@media only screen and (prefers-color-scheme: light) {
	.centeredDot {background-color: #979797;}
}